@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply w-[calc(100%_-_30px)] max-w-[420px] mx-auto min-h-screen;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.leaflet-container {
  height: 200px;
  width: 100%;
  border-radius: 0.5rem;
}